<html>
<head>
   <meta charset='utf-8'>
   <title>Flapper News!</title>
   <!-- styles -->
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="style.css" media="screen">
   <!-- scripts -->
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
   <script src="app.js"></script>
</head>

<body ng-app="flapperNews">

   <div class="container">
      <ui-view></ui-view>
   </div>

   <!-- inline template for home. This could be in a separate file called home.html -->

   <script type="text/ng-template" id="/home.html">

      <div class="page-header">
        <h1>Flapper News</h1>
      </div>

      <div class="row">

         <div class="col-md-8">
            <h3>Recent posts</h3>
            <table>
               <tr ng-repeat="post in main.posts | orderBy: '-upvotes'">
                  <td class="txt">
                     <a ng-show="post.link" href="{{post.link}}"> {{post.title}} </a>
                     <span ng-hide="post.link"> {{post.title}} </span>
                  </td>
                  <td class="txt">[{{post.upvotes}}] </td>
                  <td class="thumb"><span class="glyphicon glyphicon-thumbs-up" ng-click="main.incrementUpvotes(post);"></span></td>
                  <td class="thumb"><span class="glyphicon glyphicon-thumbs-down" ng-click="main.decrementUpvotes(post);"></span></td>
                  <td class="thumb"> <a href="#/posts/{{post.id}}"><span class="glyphicon glyphicon-comment" /></a></td>
               </tr>
            </table>
         </div>

         <div class="hidden-md hidden-lg"> <hr> </div>

         <div class="col-md-4">
            <form ng-submit="main.add();">
               <h3>Add a new post</h3>
               <div class="form-group">
                  <input type="text" class="form-control" placeholder="Title" ng-model="main.title"></input>
               </div>
               <div class="form-group">
                  <input type="text" class="form-control" placeholder="Link [optional]" ng-model="main.link"></input>
               </div>
               <button type="submit" class="btn btn-primary text-right">Post</button>
            </form>
         </div>

      </div>
   </script>

   <!-- inline template for posts. This could be in a separate file called posts.html -->

   <script type="text/ng-template" id="/posts.html">

      <div class="page-header"> <h3>
         <a ng-show="detail.post.link" href="{{detail.post.link}}"> {{detail.post.title}} </a>
         <span ng-hide="detail.post.link"> {{detail.post.title}} </span>
      </h3> </div>

      <h4 ng-hide="detail.post.comments.length > 0"> No comments in this post yet </h4>

      <div ng-repeat="comment in detail.post.comments | orderBy:'-upvotes'">
         <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>
         {{comment.upvotes}} - by {{comment.author}}
         <span style="font-size:20px; margin-left:10px;"> {{comment.body}} </span>
      </div>

      <form ng-submit="detail.addComment()" style="margin-top:30px;">
         <h3> Add a new comment </h3>
         <div class="form-group">
            <input type="text" class="form-control" placeholder="Comment" ng-model="detail.body"></input>
            <input type="text" class="form-control" placeholder="User" ng-model="detail.user"></input>
         </div>
         <button type="submit" class="btn btn-primary"> Post </button>
      </form>

   </script>

</body>
</html>
